In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('/kaggle/input/cars-data/cars.csv')

In [3]:
data.shape

(8128, 5)

In [4]:
data.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [5]:
data['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [6]:
data['brand'].nunique()

32

In [7]:
data['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [8]:
data['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

# 1. One Hot Encoding

In [9]:
dummies = pd.get_dummies(data, columns=['fuel','owner'])
for column in dummies.columns:
    if dummies[column].dtype == bool:
        dummies[column] = dummies[column].astype(int)

dummies

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

# 2. K-1 One Hot Encoding

In [10]:
dummies = pd.get_dummies(data, columns=['fuel','owner'],drop_first=True)
for column in dummies.columns:
    if dummies[column].dtype == bool:
        dummies[column] = dummies[column].astype(int)
dummies

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

# 3. One Hot Encoding using sklearn

In [11]:
data.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [12]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(data.iloc[:,0:4],data.iloc[:,-1],test_size=0.2, random_state=12)

In [13]:
x_train.head()

           brand  km_driven    fuel         owner
374        Volvo      20000  Diesel   First Owner
721      Hyundai     120000  Petrol  Second Owner
3933  Volkswagen      60000  Petrol  Second Owner
6984    Mahindra     120000  Diesel   Third Owner
5673      Toyota     120000  Diesel  Second Owner

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
ohe = OneHotEncoder(drop='first')

In [16]:
x_train_new =  ohe.fit_transform(x_train[['fuel','owner']]).toarray()

In [17]:
x_test_new = ohe.transform(x_test[['fuel','owner']]).toarray()

In [18]:
    x_train_new.shape

(6502, 7)

In [19]:
np.hstack((x_train[['brand','km_driven']].values, x_train_new))

array([['Volvo', 20000, 1.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai', 120000, 0.0, ..., 1.0, 0.0, 0.0],
       ['Volkswagen', 60000, 0.0, ..., 1.0, 0.0, 0.0],
       ...,
       ['Maruti', 60000, 0.0, ..., 0.0, 0.0, 1.0],
       ['Chevrolet', 80000, 1.0, ..., 1.0, 0.0, 0.0],
       ['Hyundai', 46000, 1.0, ..., 0.0, 0.0, 0.0]], dtype=object)

# 4. One Hot Encoding with top categories

In [20]:
counts = data['brand'].value_counts()

In [21]:
data['brand'].nunique()

32

In [22]:
threshold = 100

In [23]:
repl = counts[counts <= threshold].index

In [24]:
dummies = pd.get_dummies(data['brand'].replace(repl,'other'))

for column in dummies.columns:
    if dummies[column].dtype == bool:
        dummies[column] = dummies[column].astype(int)

dummies

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,other
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,0,1,0,0,0,0,0,0,0,0
8124,0,0,0,0,1,0,0,0,0,0,0,0,0
8125,0,0,0,0,0,0,1,0,0,0,0,0,0
8126,0,0,0,0,0,0,0,0,0,1,0,0,0
8127,0,0,0,0,0,0,0,0,0,1,0,0,0